h1{
    border-right: 20px dotted red;
    border-left: 40px double green;
    border-top: 60px solid blue;
    border-bottom: 80px dashed yellow;
    padding: 40px 20px 10px 5px;
    margin: 100px 75px 50px 25px;
    text-align: center;
}